/* features */
#features { margin-top: 70px; }

#features .subtitle h2 {
    font-size: 24px;
    font-style: italic;
    font-weight: normal;
    line-height: 35px;
    margin: 0;
    margin-bottom: 70px;
    text-align: center;
}

#features .section_header h3 span {
    font-size: 18px;
    line-height: 20px;
}

#features .option1 { margin-bottom: 70px; }

#features .option1 .feature {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 65px;
}

#features .option1 .feature .info h3 {
    font-size: 21px;
    margin-top: 45px;
}

#features .option1 .feature .info h3 img {
    margin-right: 18px;
    position: relative;
    top: -10px;
}

#features .option1 .feature .info p { margin-top: 15px; }

#features .option1 .last { margin-bottom: 0; }

#features .option2 { margin-bottom: 70px; }

#features .option2 .feature { margin-bottom: 70px; }

#features .option2 .feature .box {
    float: left;
    height: 77px;
    text-align: center;
    width: 16%;
}

#features .option2 .feature .box img.one { margin-top: 18px; }

#features .option2 .feature .box img.two { margin-top: 20px; }

#features .option2 .feature .text {
    float: left;
    margin-left: 23px;
    margin-top: 17px;
    width: 76%;
}

#features .option2 .feature .text h6 {
    font-size: 20px;
    margin: 0 0 8px 0;
}

#features .option2 .feature .text p {
    font-size: 14px;
    line-height: 23px;
    margin: 0;
}

#features .option2 .right { float: right; }

#features .option3 .feature {
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 3px 1px #E0E0E0;
    cursor: pointer;
    padding: 40px 0 38px 0;
    /*border:1px solid #fff;*/
}

#features .option3 .feature .img {
    margin: 0 auto 37px;
    text-align: center;
}

#features .option3 .feature .text {
    margin: 0 auto;
    width: 87%;
}

#features .option3 .feature .text h6 {
    font-size: 20px;
    margin: 0 0 9px 0;
    text-align: center;
}

#features .option3 .feature .text p {
    font-size: 14px;
    line-height: 23px;
    margin: 0 auto;
    margin-top: 18px;
    text-align: center;
    width: 90%;
}

#features .option3 .feature:hover {
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    border-color: #B1B1B1;
    box-shadow: 0 0 6px 0 #B4B4B4;
    transition: all .2s ease;
}

/* Responsive
-------------------------------------------------- */

@media (min-width: 768px) {
    #features .feature .pic-right { float: right; }

    #features .feature .info-left { float: left; }
}

@media (max-width: 767px) {
    #features .feature { margin-bottom: 60px; }

    #features .feature img {
        float: none !important;
        margin: 0 auto !important;
    }

    #features .last { margin-bottom: 0; }

    #features .option1 .feature .info h3 { text-align: center; }

    #features .option2 { margin-bottom: 60px; }

    #features .option2 .feature {
        float: left;
        margin-bottom: 60px;
        width: 100%;
    }

    #features .option2 .feature .text { margin-top: 0; }

    #features .option2 .feature .text h6 { text-align: center; }

    #features .option3 .feature {
        margin-bottom: 60px;
        overflow: hidden;
    }
}

@media (max-width: 480px) {
    #features .subtitle h2 {
        font-size: 22px;
        line-height: 30px;
    }

    #features .option2 { margin-bottom: 60px; }

    #features .option2 .feature {
        float: left;
        margin-bottom: 60px;
        width: 100%;
    }

    #features .option2 .feature .text { margin-top: 0; }

    #features .option2 .right { /*margin-bottom: 0;*/ }

    #features .option3 .feature { margin-bottom: 60px; }

    #features .last { margin-bottom: 0; }
}