.reset_page .box_wrapper { padding-bottom: 68px; }

.reset_page .box_wrapper p.already {
    color: #454B52;
    font-style: 15px;
    text-align: center;
}

.reset_page .box_wrapper p.already a {
    color: #454B52;
    margin-left: 3px;
}

.reset_page .box {
    background-color: white;
    border-radius: 6px;
    box-shadow: 1px 1px 8px 1px #DEDDDD;
    float: none;
    margin: 60px auto 0;
    margin-bottom: 25px;
    padding-bottom: 26px;
    width: 44%;
}

.reset_page .box .head {
    background-color: #faf9f9;
    border-radius: 4px 4px 1px 0;
    box-shadow: inset 2px 2px 3px 0px white;
    display: inline-block;
    margin-bottom: 37px;
    padding: 25px 0 25px;
    text-align: center;
    width: 100%;
}

.reset_page .box .head h4 {
    color: #333;
    font-size: 16px;
    margin: 0px 20px;
    text-shadow: 1px 1px 1px white;
}

.reset_page .box .head .line {
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    height: 3px;
    position: relative;
    top: 30px;
}

.reset_page .box .form {
    border-color: #CCCCCC;
    border-radius: 7px 7px 7px 7px;
    color: #394350;
    font-size: 15px;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
    width: 83%;
}

.reset_page .box .form input[type="text"] {
    border-color: #DBDBDB #EAEAEA #EAEAEA #DBDBDB;
    border-left: 1px solid #DBDBDB;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    height: 40px;
    margin-bottom: 35px;
    padding-left: 8px;
    width: 100%;
}

.reset_page .box .form input[type="submit"] {
    -moz-transition: background linear .2s, box-shadow linear .2s;
    -o-transition: background linear .2s, box-shadow linear .2s;
    -webkit-transition: background linear .2s, box-shadow linear .2s;
    background: #187CCC;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    padding: 8px 18px;
    text-transform: uppercase;
    transition: background linear .2s, box-shadow linear .2s;
}

.reset_page .box .form input[type="submit"]:hover { background: #252528; }

.reset_page form { margin: 0px; }

.reset_page .already a { text-decoration: underline; }

@media (min-width: 768px) and (max-width: 991px) {
    .reset_page .box { width: 54%; }
}

@media (max-width: 991px) {
    .reset_page .box { width: 70%; }
}

@media (max-width: 480px) {
    .reset_page .box { width: 100%; }
}